/*
 * Globals
 */

/* Type */

html,
body {
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
h1 {}
h2 {}
h3 {
  font-size: 18px;
  font-weight: 600;
  color: #b1e2f9;
  margin-top: 0;
  margin-bottom: 18px;
}

/* Links */
a,
a:focus, a:hover {
  color: #fadcc0;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  background-color: rgba(68,74,84,1); 
  box-shadow: inset 0 0 100px rgba(0,0,0,.5) fixed;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  display: none;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}
.main-container {} /*clearfixed*/


/*
 * Apps
 */

.apps-container {
  padding: 52px 30px 72px;
  background: rgba(255,255,255,.98);
  text-shadow: none;
  text-align: center;
}
.apps-container h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px; 
  margin-bottom: 52px;
  color: #bfb3d8; /* light purple */
}
.apps-container a {
  color: #293241; /* dark base color */
  text-decoration: none;
  border: none;
  display:block;
  padding: 8px;
  margin: 16px 0;
  border-radius: 4px;
}
.apps-container a p {
  font-size: 28px;
  font-weight: 400;
}
.apps-container a img {
  margin-bottom: 36px;
  text-align: center;
}
span.app-name {
  display: inline-block;
  font-weight: bold;
  color: white;
  padding: 2px 6px 0px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin: 0 auto 12px;
}

span.app-type {
  display: inline-block;
  font-weight: 600;
  color: rgba(0,0,0,.35);
  background-color: rgba(0,0,0,.08);
  padding: 6px 6px 2px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  margin-left: 4px;
}

  .app-sneakgit p{
    color: #444A54; /* Background gray */
  }
  .app-sneakgit img{
    border-collapse: collapse;
    height: 256px;
    width: 256px;
  }
  .app-sneakgit span.app-name {
    background-color: rgba(0,0,0,1);
  }
  .app-sneakgit a:hover,
  .app-sneakgit a:focus {
    background-color: rgba(68,74,84,.08);
  }
  .app-sneakgit a:active{
    background-color: rgba(68,74,84,.24);
  }

  .app-muzzy p{
    color: #d96364; /* Muzzy red */
  }
  .app-muzzy img{
    border-collapse: collapse;
    height: 256px;
    width: 256px;
  }
  .app-muzzy span.app-name {
    background-color: rgba(255, 153, 153, 1);
    width: 80px;
  }
  .app-muzzy a:hover,
  .app-muzzy a:focus {
    background-color: rgba(246,205,212,.18);
  }
  .app-muzzy a:active{
    background-color: rgba(246,205,212,.48);
  }

  .app-density p{
    color: rgba(101,74,158,1); /* Density purple */
  }
  .app-density img{
    border-collapse: collapse;
    height: 256px;
    width: 256px;
  }
  .app-density span.app-name {
    background-color: rgba(101,74,158,1);
    width: 90px;
  }
  .app-density a:hover,
  .app-density a:focus {
    background-color: rgba(101,74,158,.08);
  }
  .app-density a:active {
    background-color: rgba(101,74,158,.18);
  }

  .app-harbinger p {
    color: #df5826; /* Music Harbginer orange */
  }
  .app-harbinger img{
    border-collapse: collapse;
    height: 256px;
    width: 256px;
  }
  .app-harbinger span.app-name {
    background-color: #ff832e;
    width: 190px;
  }
  .app-harbinger a:hover,
  .app-harbinger a:focus {
    background-color: rgba(246,195,167,.24);
  }
  .app-harbinger a:active {
    background-color: rgba(246,195,167,.52);
  }

  .app-picturito p {
    color: #2a9ad6; /* Picturito blue */ 
  }
  .app-picturito img{
    border-collapse: collapse;
    height: 256px;
    width: 256px;
  }
  .app-picturito span.app-name {
    background-color: #2697d1;
    width: 110px;
  }
  .app-picturito a:hover,
  .app-picturito a:focus {
    background-color: rgba(177,226,249,.18);
  }
  .app-picturito a:active{
    background-color: rgba(177,226,249,.42);
  }


/*
 * About
 */

.about .avatar {
  text-align: center;
}
.about img {
  margin: 32px 0 24px;
  box-shadow: 0 1px 15px rgba(0,0,0,.10), 0 1px 3px rgba(0,0,0,.15);
}
.about h1 {
  font-size: 52px;
  font-family: "AvenirNext-UltraLight";
  color: #ccd4ec;
  margin-top: 0;
  margin-bottom: 6px;
}
.about h2 {
  font-size: 18px;
  font-family: "AvenirNext-Regular";
  color: #bfb3d8;
  text-transform: uppercase;
  letter-spacing: .23em;
  margin-top: 0;
  margin-bottom: 24px;
}
.about p {
  font-size: 15px;
  color: #dae0ef;
}

.social {
  margin-bottom: 24px;
}
.social >li:last-child {
  padding: 0;
  margin: 0;
}
.social-icon {
  text-indent: 100px;
  font-size: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: no-repeat url("../img/social-icons-spritesheet.png");
}

.list-inline > li{
  padding-right: 15px;
}

p.contact {
  font-size: 15px;  
}

.social a.twitter { background-position: -30px 0px; }
.social a.twitter:hover, 
.social a.twitter:active,
.social a.twitter:focus { background-position: 0px 0px; }

.social a.github { background-position: -30px -180px; }
.social a.github:hover,
.social a.github:active,
.social a.github:focus { background-position: 0px -180px; }

.social a.instagram { background-position: -30px -120px; }
.social a.instagram:hover,
.social a.instagram:active,
.social a.instagram:focus { background-position: 0px -120px; }

.social a.linkedin { background-position: -30px -60px; }
.social a.linkedin:hover,
.social a.linkedin:active,
.social a.linkedin:focus { background-position: 0px -60px; }

.social a.skype { background-position: -30px -150px; }
.social a.skype:hover,
.social a.skype:active,
.social a.skype:focus { background-position: 0px -150px; }

.social a.dribbble { background-position: -30px -120px; }
.social a.dribbble:hover,
.social a.dribbble:active,
.social a.dribbble:focus { background-position: 0px -120px; }

/* @2x icons */

@media 
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  
  .social a.twitter { background-size: 90px; background-position: -60px 0px; }
  .social a.twitter:hover { background-size: 90px; background-position: -30px 0px; }

  .social a.github { background-size: 90px; background-position: -60px -180px; }
  .social a.github:hover { background-size: 90px; background-position: -30px -180px; }

  .social a.instagram { background-size: 90px; background-position: -60px -120px; }
  .social a.instagram:hover { background-size: 90px; background-position: -30px -120px; }

  .social a.linkedin { background-size: 90px; background-position: -60px -60px; }
  .social a.linkedin:hover { background-size: 90px; background-position: -30px -60px; }

  .social a.skype { background-size: 90px; background-position: -60px -150px; }
  .social a.skype:hover { background-size: 90px; background-position: -30px -150px; }

  .social a.dribbble { background-size: 90px; background-position: -60px -120px; }
  .social a.dribbble:hover { background-size: 90px; background-position: -30px -120px; }
}


/*
 * Review
 */

.press { 
  margin: 32px 0; 
}
.press ul li { 
  display:inline; 
}
.press-site-logo {
  background: no-repeat url("../img/press-sites-sprite-normal@2x.png");
  background-size: 60px; 
  padding-bottom: 32px;
}
.press-site-logo:hover,
.press-site-logo:active,
.press-site-logo:focus {
  background: no-repeat url("../img/press-sites-sprite-hover@2x.png");
  background-size: 250px;
}
.press-desktop .press {
  margin: 64px 0;
}

/*
 * Skills
 */

.skills {
  margin:32px 0;
}
.skills ul {
}
.skills li {
  display: inline-block;
  color: #dae0ef; 
  background-color: rgba(255,255,255,.06);
  border-radius: 2px;
  margin-right: 4px;
  margin-bottom: 12px;
  padding: 2px 6px;
}

.site-mind-of-geek,
.site-mac360,
.site-lifehacker,
.site-appstorm,
.site-macmagazine,
.site-idownload { 
  min-width: 100px;
  height: 28px;  
  text-indent: -9999px;
  background-size: 60px;
  display: inline-block;
  background-size: 250px; 
}

.site-lifehacker          { background-position: 0 -58px;   width: 100px; }
.site-lifehacker:hover,
.site-lifehacker:active,
.site-lifehacker:focus    { background-position: 0 -58px;   width: 100px; }

.site-mind-of-geek        { background-position: 0 0;       width: 145px; }
.site-mind-of-geek:hover,
.site-mind-of-geek:active,
.site-mind-of-geek:focus  { background-position: 0 0;       width: 145px; }

.site-mac360              { background-position: 0 -29px;   width: 115px; }
.site-mac360:hover,
.site-mac360:active,
.site-mac360:focus        { background-position: 0 -29px;   width: 115px; }

.site-appstorm            { background-position: 0 -89px;   width: 160px; }
.site-appstorm:hover,
.site-appstorm:active,
.site-appstorm:focus      { background-position: 0 -89px;   width: 160px; }

.site-macmagazine         { background-position: 0 -120px;  width: 190px; }
.site-macmagazine:hover,
.site-macmagazine:active,
.site-macmagazine:focus   { background-position: 0 -120px;  width: 190px; }

.site-idownload           { background-position: 0 -150px;  width: 135px; }
.site-idownload:hover,
.site-idownload:active,
.site-idownload:focus     { background-position: 0 -150px;  width: 135px; }

/*
 * Affix and center
 */

@media (min-width: 228px) and (max-width: 768px) {
  .cover-container {
    width: 100%;
  }

  .about img {
    margin: 32px 0 24px;
    width: 144px;
    height: 144px;
  }
  .about h1 {
    text-align: center;
    font-size: 44px;
  }
  .about h2 {
    text-align: center;
    font-size: 15px;
  }
  .about p {
    font-weight: normal;
    text-align: center;
    font-size: 15px;
    padding: 0 8px;
  }
  .social {
    text-align: center;
  }

  .apps-container {
    padding: 32px 0px;
  }
  .apps-container h1{
    margin: 0 0 32px;
  }
  .apps-container a p {
    font-size: 28px;
    font-weight: 400;
    padding: 0 15px;
  }
  .app > a > img{
    display: inline-block;
    border-collapse: collapse;
    height: 128px;
    width: 128px; 
    margin-bottom: 4px;
  }
  .app-description span {
    display: inline-block;
    margin: 18px 8px 18px 0;
  }

  .press-desktop .press {
    display: none;
  }
  .press {
    margin-top: 64px;
    margin-bottom: 52px;
  }
  .press-mobile .list-inline > li{
    padding: 24px 0;
    display: block;
  }

  footer {
    color: #dae0ef;
    display: block;
    border-top: 1px solid rgba(255,255,255,.06);
    margin: 32px 30px;
  }
  footer p {
    padding: 32px 0;
    opacity: .22;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  /* Handle the widths */
  .cover-container,
  .main-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .about {
    text-align: center;
  }
  .about img {
    margin: 48px 0 32px;
    width: 240px;
    height: 240px;
  }
  .press-desktop .press {
    display: none;
  }

  .press-mobile .list-inline > li {
    padding: 0 15px 0 0;
    display: block;
  }

}


@media (min-width: 992px){
    /* Pull out the header and footer */
  .main-container  {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .press-mobile {
    display: none;
  }
}


@media (min-width: 992px) and (max-width: 1200px) {
  .cover-container,
  .main-container {
    width: 1024px;
  }
  .apps-container {
    width: 33%;
    margin:auto;
    padding: 52px 15px 72px;
  }
  .about {
    width: 33%;
    padding-left:20px;

  }
  .about img {
    width: 120px;
    height: 120px;
  }
  .about p {
    padding-right: 0px;
  }
  .press-container {
    margin-top: 52px;
  }
  .press-mobile {
    display: none;
  }

}

@media (min-width: 1200px) {
  .cover-container,
  .main-container {
    width: 1170px;
  }
  .about {
    margin-top: 50px;
  }
  .about img {
    width: 140px;
    height: 140px;
  }
  .press-desktop {
    margin-top: 70px;
  }
  .press {

  }
  .reviews {
    margin-top: 52px;
    padding-right: 30px;
  }
  .press-mobile {
    display: none;
  }
}
